__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environment
venv/
env/

# Distribution / Packaging
build/
dist/
*.spec

# Logs and cache
*.log
*.cache
*egg-info*/

# Editor specific
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Data files that should not be in version control
data/players.json
